
.DS_Store
Windmill/Week_8_work/wifiConfig.h
Windmill/sketch_sep13a/wifiConfig.h
Windmill/Riya9October/wifiConfig.h
Windmill/Week_8_work/Week_8_work.ino
Windmill/Week_8_work/Week_8_work.ino
Windmill/Riya_SPIFFS_Code/wifiConfig.h
/venv/
