
.DS_Store
Windmill/Week_8_work/wifiConfig.h
Traffic Lights/Traffic_Lights/wifiConfig.h
Website/venv/
Website/.idea/inspectionProfiles/profiles_settings.xml
Website/.idea/inspectionProfiles/Project_Default.xml
Website/.idea/misc.xml
Website/.idea/modules.xml
Website/.idea/vcs.xml
Website/.idea/Website.iml
